services:
  ai-img-gen-app:
    build:
      context: .
      dockerfile: Containerfile
    depends_on:
      - ai-img-gen-postgres
    image: volksbyte/ai-img-gen
    ports:
      - 8080:80
    volumes:
      - ./:/var/www/html/

  ai-img-gen-postgres:
    environment:
      POSTGRES_DB: ai-img-gen
      POSTGRES_USER: root
      POSTGRES_PASSWORD: secret
    image: docker.io/library/postgres:16-alpine
    volumes:
      - postgres-data:/var/lib/postgresql/data/

volumes:
  postgres-data:
